<footer class="footer">

  <div class="footer-container">

    <!-- LOGO / BRAND -->
    <div class="footer-brand">
      <h3>T&C Global Corporation</h3>
      <p>
        Corporación empresarial dedicada a brindar soluciones legales,
        financieras, de salud, comunicación y recursos estratégicos.
      </p>
    </div>

    <!-- LINKS -->
    <div class="footer-links">
      <h4>Subempresas</h4>
      <ul>
        <li routerLink="/tc-legal">T&C Legal </li>
        <li routerLink="/tc-salud">T&C Salud</li>
        <li routerLink="/tc-finanzas">T&C Finanzas</li>
        <li routerLink="/tc-comunicacion">T&C Comunicación</li>
        <li routerLink="/tc-mineral">T&C Mineral</li>
      </ul>
    </div>

    <!-- CONTACT -->
    <div class="footer-contact">
      <h4>Contacto</h4>
      <p>Email: tc.legal.solucionesjuridicas@gmail.com</p>
      <p>Teléfono: +591 72599005</p>
      <p>Bolivia</p>
    </div>

  </div>

  <!-- BOTTOM -->
  <div class="footer-bottom">
    © {{ year }} T&C Global Corporation. Todos los derechos reservados.
  </div>

</footer>
