
.services {
  position: relative;
  padding: 120px 80px;
  color: #ffffff;
}

.services::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.85) 40%,
    rgba(0, 0, 0, 0.6) 70%,
    transparent 100%
  );
  z-index: 0;
}


.services-container {
  max-width: 1200px;
  margin: auto;
  position: relative;
  z-index: 1;
}

.services-header {
  max-width: 650px;
  margin-bottom: 70px;
}

.services-header h2 {
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 700;
  margin-bottom: 20px;
}

.services-header p {
  font-size: 1.05rem;
  line-height: 1.8;
  color: #dddddd;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 35px;
}

.service-card {
  position: relative;
  height: 320px;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.4s ease;
  display: flex;
  align-items: flex-end;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.5),
    transparent
  );
  z-index: 1;
}

.card-overlay {
  position: relative;
  z-index: 2;
  padding: 30px;
  width: 100%;
}

.service-card h3 {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.service-card p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #dddddd;
  margin-bottom: 20px;
}

.service-card span {
  color: #f5c97a;
  font-weight: 500;
  transition: 0.3s ease;
}

.service-card:hover {
  transform: translateY(-8px);
}

.service-card.legal {
  background-image: url("../../../../assets/imagenes/landing/logo_tc.jpeg");
}

.service-card.salud {
  background-image: url("../../../../assets/imagenes/landing/logo_sal.jpeg");
}

.service-card.finanzas {
  background-image: url("../../../../assets/imagenes/landing/logo_fin.jpg");
}

.service-card.comunicacion {
  background-image: url("../../../../assets/imagenes/landing/logo_com.jpg");
}

.service-card.mineral {
  background-image: url("../../../../assets/imagenes/landing/logo_min.png");
}

@media (max-width: 768px) {
  .services {
    padding: 100px 30px;
  }

  .services::before {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.6)
    );
  }

  .service-card {
    height: 280px;
  }
}