<section class="contact" id="contacto" #contactSection>

  <div class="contact-header">
    <h1>Contacto</h1>
    <p>
      Si deseas más información sobre nuestros servicios o quieres colaborar
      con T&C Legal, contáctanos a través de los siguientes canales.
    </p>
  </div>

  <div class="contact-form">
    <input type="text" placeholder="Nombre completo" />
    <input type="text" placeholder="Número de teléfono" />
    <textarea placeholder="Escribe tu mensaje"></textarea>
    <button>Enviar mensaje</button>
  </div>

  <div class="contact-socials">

    <!-- WhatsApp -->
    <a href="https://wa.me/59172599005" target="_blank" rel="noopener">
      <img src="../../../../../../assets/iconos/icons8-instagram (2).png" alt="WhatsApp" />
    </a>

    <!-- Facebook -->
    <a href="https://www.facebook.com/tc.legal.solucionesjuridicas" target="_blank" rel="noopener">
      <img src="../../../../../../assets/iconos/icons8-facebook.png" alt="Facebook" />
    </a>

    <!-- Instagram -->
    <a href="https://www.instagram.com/tc.legal.soluciones.juridicas" target="_blank" rel="noopener">
      <img src="../../../../../../assets/iconos/icons8-instagram (1).png" alt="Instagram" />
    </a>

    <!-- TikTok -->
    <a href="https://www.tiktok.com/@tc_legal" target="_blank" rel="noopener">
      <img src="../../../../../../assets/iconos/icons8-tiktok.png" alt="TikTok" />
    </a>

  </div>

</section>